# dependencies
/node_modules
/.pnp
.pnp.*

# next.js
/.next/
/out/
/build
next-env.d.ts

# production
/dist

# misc
.DS_Store
*.pem
Thumbs.db

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env files (NEVER commit real secrets)
.env
.env.local
.env*.local
.env.development.local
.env.test.local
.env.production.local

# typescript build info
*.tsbuildinfo

# vercel
.vercel

# testing / coverage
/coverage

# editors
.idea/
.vscode/*
!.vscode/extensions.json
